* {
    margin: 0;
    padding: 0;
}


h3 {
    color: #2196F3;
    margin-left: 25px;
    margin-bottom: 25px;
    text-align: center;
}

body {
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
    color: white;
    
}

header {
    background-color: #2196F3;
}

h2 {
    margin-left: 25px;
    margin-bottom: 50px;
    color: red;
    text-align: center;
    margin-top: 30px;

}